@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --selected-text-color: #2196f3;
  --text-color: #212121;
  --button-color: #f5f4fa;
  --footer-color: #2f303a;
  --smalltext-color: #757575;
  --bachground-color: #ffffff;
  --border-color: #eeeeee;
}

body {
  font-family: "Roboto";
}

li {
  list-style-type: none;
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
}

nav {
  display: flex;
  margin: 0 auto;
  align-items: center;
  width: 1170px;
  height: 80px;
}

h5 {
  font-family: "Raleway";
}
.logo-web {
  color: var(--selected-text-color);
}

.header-list {
  display: flex;
  width: 281px;
  justify-content: space-between;
  margin-left: 93px;
  cursor: pointer;
}
.header-email {
  margin-left: 300px;
  margin-right: 50px;
}

header > h5 {
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.email {
  color: var(--selected-text-color);
}
.phone {
  color: var(--smalltext-color);
}

.solutions {
  background-color: var(--footer-color);
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.solutions-text {
  color: var(--bachground-color);
  text-align: center;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  width: 696px;
  font-weight: 900;
  letter-spacing: 0.06em;
  margin-top: 200px;
}
button {
  color: #eeeeee;
  background-color: #2196f3;
}
p {
  color: var(--smalltext-color);
}
.team {
  background-color: var(--button-color);
}
footer {
  background-color: var(--footer-color);
}
footer > p {
  color: var(--bachground-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}

.footer-adress {
  color: var(--bachground-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}
h3 {
  color: var(--text-color);
}

.section {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 94px;
  margin-top: 50px;
}

.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
}

.main-list {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 94px;
  margin-bottom: 94px;
}

.list-item {
  width: 270px;
}

.main-team {
  height: 648px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-name {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}

.infomation-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  justify-content: space-between;
}

.team-title {
  margin: 94px 0 50px;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.03em;
}
.team-list li {
  width: 270px;
  background-color: var(--bachground-color);
  height: 380px;
}

.team-list img {
  width: 270px;
  height: 260px;
}

.team-list h4 {
  padding-top: 30px;
  text-align: center;
}

.team-list p {
  padding-top: 10px;
  text-align: center;
}

.main-team {
  background-color: var(--button-color);
}

.logo-studio-footer {
  color: var(--bachground-color);
}

.footer-navigation {
  height: 252px;
}
.footer-wrapper {
  margin: 0 auto;
  width: 1170px;
  padding-top: 60px;
}
footer p {
  margin-top: 9px;

}
.footer-adress {
  margin-top: 20px;
}

.solutions-button{
  margin-top: 20px;
  border-radius: 4px;
  width: 216px;
  height: 50px;
  font-weight: 700;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.06em;
text-align: center;
}

.group-1::before{
content: "";
 background-image: url("../img/Group1.png");
 width: 270px;
 height: 120px;
 display: flex;
 background-position: center;
 background-repeat: no-repeat;

}
.group-2::before{
  content: "";
   background-image: url("../img/Group\ 2.png");
   width: 270px;
   height: 120px;
   display: flex;
   background-position: center;
   background-repeat: no-repeat;
  
  }
  .group-3::before{
    content: "";
     background-image: url("../img/Group\ 3.png");
     width: 270px;
     height: 120px;
     display: flex;
     background-position: center;
     background-repeat: no-repeat;
    
    }
    .group-4::before{
      content: "";
       background-image: url("../img/Group\ 4.svg");
       width: 270px;
       height: 120px;
       display: flex;
       background-position: center;
       background-repeat: no-repeat;
      
      }